* {
  margin: 0;
  padding: 0;
  outline: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@font-face {
  font-family: Inter-normal;
  src: url(./fonts/Inter/static/Inter-Medium.ttf);
}
@font-face {
  font-family: Cardo-normal;
  src: url(./fonts/cardo/Cardo98s.ttf);
}
.website {
  margin: 0 auto;
}
.website > .website__header {
  background: #1B3764;
  box-sizing: border-box;
}
.website > .website__header > .header__navbar {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.website > .website__header > .header__navbar > .navbar__right {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.website > .website__header > .header__navbar > .navbar__right > .right__logo {
  cursor: pointer;
  margin-right: 37px;
}
.website > .website__header > .header__navbar > .navbar__right > .right__socials {
  width: 150px;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.website > .website__header > .header__navbar > .navbar__left {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.website > .website__header > .header__navbar > .navbar__left > .left__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}
.website > .website__header > .header__navbar > .navbar__left > .left__items > li {
  width: 100px;
  height: 20px;
}
.website > .website__header > .header__navbar > .navbar__left > .left__items > li > a {
  display: block;
  color: #f6f8fc;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.17px;
  text-decoration: none;
  font-family: Inter-normal;
}
.website > .website__header > .header__navbar > .navbar__left > .left__btn {
  width: 222px;
  height: 66px;
  color: #1B3764;
  background: #FFCA42;
  border: 2px solid #FFCA42;
  font-family: Cardo-normal;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  cursor: pointer;
}
.website > .website__header > .header__main-section {
  display: flex;
  flex-wrap: wrap;
  margin: 120px auto;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right > .right__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__header > .header__main-section > .main-section__right > .right__texts > .texts__greatest {
  color: #fff;
  display: flex;
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  font-style: normal;
  flex-direction: row;
  align-items: center;
  letter-spacing: 1.2px;
  font-family: Cardo-normal;
  text-transform: capitalize;
  justify-content: baseline;
}
.website > .website__header > .header__main-section > .main-section__right > .right__texts > .texts__greatest > .greatest__line {
  width: 30px;
  height: 2px;
  margin-right: 15px;
  background: #FFCA42;
}
.website > .website__header > .header__main-section > .main-section__right > .right__texts > .texts__title {
  width: 600px;
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 400;
  line-height: 78px;
  margin: 40px auto;
  font-style: normal;
  letter-spacing: 1.3px;
  font-family: Cardo-normal;
}
.website > .website__header > .header__main-section > .main-section__right > .right__texts > .texts__desc {
  width: 600px;
  color: #B4C7E7;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__header > .header__main-section > .main-section__right > .right__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.website > .website__header > .header__main-section > .main-section__right > .right__buttons > .buttons__btn {
  width: 222px;
  height: 66px;
  color: #1B3764;
  cursor: pointer;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  background: #FFCA42;
  letter-spacing: 0.57px;
  font-family: Cardo-normal;
  text-transform: capitalize;
  border: 2px solid #FFCA42;
}
.website > .website__header > .header__main-section > .main-section__right > .right__buttons > .buttons__link {
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 400;
  margin-left: 51px;
  font-style: normal;
  letter-spacing: 0.38px;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__pages {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__pages > .pages__title {
  display: flex;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.48px;
  font-family: Cardo-normal;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__pages > .pages__title > .title__circle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #FFCA42;
  border-radius: 100px;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__pages > .title__desc {
  display: flex;
  color: #B4C7E7;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  flex-direction: row;
  align-items: flex-end;
  font-family: Inter-normal;
  justify-content: flex-end;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__length {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__length > .length__title {
  display: flex;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.48px;
  font-family: Cardo-normal;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__length > .length__title > .title__circle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #FFCA42;
  border-radius: 100px;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__length > .title__desc {
  display: flex;
  color: #B4C7E7;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  flex-direction: row;
  align-items: flex-end;
  font-family: Inter-normal;
  justify-content: flex-end;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__rate {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__rate > .rate__title {
  display: flex;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.48px;
  font-family: Cardo-normal;
  justify-content: space-evenly;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__rate > .rate__title > .title__circle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #FFCA42;
  border-radius: 100px;
}
.website > .website__header > .header__main-section > .main-section__right > .right__info > .info__rate > .title__desc {
  display: flex;
  color: #B4C7E7;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  flex-direction: row;
  align-items: flex-end;
  font-family: Inter-normal;
  justify-content: flex-end;
}
.website > .website__header > .header__main-section > .main-section__left {
  width: 592px;
  height: 800px;
  background: url(./images/bg.png) no-repeat center center/cover;
}
.website > .website__authors-books {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.website > .website__authors-books > .authors-books__header {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.website > .website__authors-books > .authors-books__header > .header__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  text-transform: capitalize;
  font-family: Cardo-normal;
}
.website > .website__authors-books > .authors-books__header > .header__line {
  width: 50px;
  height: 3px;
  background: #FFCA42;
}
.website > .website__authors-books > .authors-books__store {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__authors-books > .authors-books__store > .store__book1 {
  display: flex;
  row-gap: 30px;
  flex-direction: row;
  justify-content: space-between;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left > .left__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0px 20px 0px;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left > .left__body > .body__title {
  color: #1B3764;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  font-style: normal;
  letter-spacing: 0.32px;
  font-family: Cardo-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left > .left__body > .body__cost {
  color: #FFCA42;
  font-size: 21px;
  font-weight: 400;
  line-height: 33px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left > .left__body > .body__desc {
  width: 287px;
  height: 86px;
  color: #969AA0;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left > .left__body > .body__posession {
  display: flex;
  color: #1B3764;
  font-size: 24px;
  font-weight: 400;
  line-height: 3.5;
  font-style: normal;
  align-items: center;
  flex-direction: row;
  font-family: Cardo-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left > .left__body > .body__posession > .posession-circle {
  width: 16px;
  height: 16px;
  background: #FFCA42;
  border-radius: 100px;
  margin-right: 10px;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__left > .left__body > .body__button {
  width: 206px;
  height: 66px;
  color: #1B3764;
  cursor: pointer;
  font-size: 19px;
  font-weight: 400;
  background: #fff;
  line-height: 28px;
  font-style: normal;
  letter-spacing: 0.38px;
  font-family: Cardo-normal;
  border: 2px solid #FFCA42;
}
.website > .website__authors-books > .authors-books__store > .store__book1 > .book1__right {
  width: 285px;
  height: 382px;
  margin-right: 30px;
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
  background: url(./images/book1.png) no-repeat center center/cover;
}
.website > .website__authors-books > .authors-books__store > .store__book2 {
  display: flex;
  row-gap: 30px;
  flex-direction: row;
  justify-content: space-between;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left > .left__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0px 20px 0px;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left > .left__body > .body__title {
  color: #1B3764;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  font-style: normal;
  letter-spacing: 0.32px;
  font-family: Cardo-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left > .left__body > .body__cost {
  color: #FFCA42;
  font-size: 21px;
  font-weight: 400;
  line-height: 33px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left > .left__body > .body__desc {
  width: 287px;
  height: 86px;
  color: #969AA0;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.8;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left > .left__body > .body__posession {
  display: flex;
  color: #1B3764;
  font-size: 24px;
  font-weight: 400;
  line-height: 3.5;
  font-style: normal;
  align-items: center;
  flex-direction: row;
  font-family: Cardo-normal;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left > .left__body > .body__posession > .posession-circle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #FFCA42;
  border-radius: 100px;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__left > .left__body > .body__button {
  width: 206px;
  height: 66px;
  color: #1B3764;
  cursor: pointer;
  font-size: 19px;
  font-weight: 400;
  background: #fff;
  line-height: 28px;
  font-style: normal;
  letter-spacing: 0.38px;
  font-family: Cardo-normal;
  border: 2px solid #FFCA42;
}
.website > .website__authors-books > .authors-books__store > .store__book2 > .book2__right {
  width: 285px;
  height: 382px;
  margin-right: 30px;
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
  background: url(./images/book2.png) no-repeat center center/cover;
}
.website > .website__author {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #F5F8FC;
  justify-content: space-evenly;
}
.website > .website__author > .author__right {
  margin: 150px 0px;
}
.website > .website__author > .author__right > .right__img {
  width: 545px;
  height: 640px;
  position: relative;
  border: 10px solid #FFCA42;
}
.website > .website__author > .author__right > .right__img > img {
  right: 25px;
  bottom: 25px;
  position: absolute;
}
.website > .website__author > .author__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin: 196px 0;
}
.website > .website__author > .author__left > .left__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__author > .author__left > .left__texts > .texts__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  font-style: normal;
  text-transform: capitalize;
  font-family: Cardo-normal;
}
.website > .website__author > .author__left > .left__texts > .texts__line {
  width: 50px;
  height: 3px;
  background: #FFCA42;
  margin: 20px 0;
}
.website > .website__author > .author__left > .left__texts > .texts__desc {
  width: 559px;
  height: 137px;
  color: #969AA0;
  font-size: 19px;
  line-height: 2;
  font-weight: 400;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__author > .author__left > .left__numbers {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.website > .website__author > .author__left > .left__numbers > .number__published {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
}
.website > .website__author > .author__left > .left__numbers > .number__published > .published__books {
  color: #1B3764;
  font-size: 54px;
  font-weight: 400;
  line-height: 77px;
  font-style: normal;
  font-family: Cardo-normal;
}
.website > .website__author > .author__left > .left__numbers > .number__published > .published__desc {
  color: #969AA0;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__author > .author__left > .left__numbers > .number__reviews {
  margin: 0 30px;
  padding: 0 30px;
  box-sizing: border-box;
  border-left: 1px solid #FFCA42;
  border-right: 1px solid #FFCA42;
}
.website > .website__author > .author__left > .left__numbers > .number__reviews > .reviews__user {
  color: #1B3764;
  font-size: 55px;
  font-weight: 400;
  line-height: 77px;
  font-style: normal;
  font-family: Cardo-normal;
}
.website > .website__author > .author__left > .left__numbers > .number__reviews > .reviews__desc {
  color: #969AA0;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  font-family: Inter-normal;
}
.website > .website__author > .author__left > .left__numbers > .number__awards {
  margin-left: 20px;
}
.website > .website__author > .author__left > .left__numbers > .number__awards > .awards__books {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 77px;
  color: #1B3764;
}
.website > .website__author > .author__left > .left__numbers > .number__awards > .awards__desc {
  color: #969AA0;
  font-size: 17px;
  font-weight: 400;
  line-height: 2.2;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__author > .author__left > .left__contact {
  width: 427px;
  height: 161px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1B3764;
  box-sizing: border-box;
  justify-content: space-evenly;
}
.website > .website__author > .author__left > .left__contact > .contact__img {
  width: 130px;
  height: 130px;
  background: url(./images/author-qr.png) no-repeat center center/cover;
  margin-right: 20px;
}
.website > .website__author > .author__left > .left__contact > .contact__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__author > .author__left > .left__contact > .contact__texts > .texts__title {
  color: #FFCA42;
  font-size: 22px;
  font-weight: 400;
  line-height: 2;
  font-style: normal;
  font-family: Cardo-normal;
}
.website > .website__author > .author__left > .left__contact > .contact__texts > .texts__email {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__author > .author__left > .left__contact > .contact__texts > .texts__email > a {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.19px;
  font-family: Inter-normal;
}
.website > .website__author > .author__left > .left__contact > .contact__texts > .texts__phone {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__author > .author__left > .left__contact > .contact__texts > .texts__phone > a {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.19px;
  font-family: Inter-normal;
}
.website > .website__trusted-companies {
  height: 397px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 110px 0 130px 0;
}
.website > .website__trusted-companies > .trusted-companies__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__trusted-companies > .trusted-companies__line {
  width: 50px;
  height: 3px;
  background: #FFCA42;
  margin: 23px 0 50px 0;
}
.website > .website__trusted-companies > .trusted-companies__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__trusted-companies > .trusted-companies__cards > .cards__card {
  width: 300px;
  height: 254px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__trusted-companies > .trusted-companies__cards > .cards__card > .card__title {
  color: #1B3764;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  text-align: center;
  font-family: Cardo-normal;
}
.website > .website__trusted-companies > .trusted-companies__cards > .cards__card > .card__desc {
  color: #969AA0;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: center;
  font-family: Inter-normal;
}
.website > .website__trusted-companies > .trusted-companies__cards > .cards__card:nth-child(2) {
  width: 270px;
  margin-left: 16px;
}
.website > .website__trusted-companies > .trusted-companies__cards > .cards__card:nth-child(3) {
  width: 270px;
  margin-left: 16px;
}
.website > .website__trusted-companies > .trusted-companies__cards > .cards__card:nth-child(4) {
  margin-left: 16px;
}
.website > .website__book-copy {
  background: #1B3764;
}
.website > .website__book-copy > .book-copy__main-section {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__book-copy > .book-copy__main-section > .main-section__text {
  width: 520px;
  height: 284px;
  display: flex;
  flex-direction: column;
  margin: 130px 0px 70px 0px;
  justify-content: space-evenly;
}
.website > .website__book-copy > .book-copy__main-section > .main-section__text > .text__title {
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 400;
  line-height: 54px;
  font-style: normal;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__book-copy > .book-copy__main-section > .main-section__text > .text__line {
  width: 50px;
  height: 3px;
  background: #FFCA42;
}
.website > .website__book-copy > .book-copy__main-section > .main-section__text > .text__desc {
  color: #B4C7E7;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  font-family: Inter-normal;
}
.website > .website__book-copy > .book-copy__main-section > .main-section__text > .text__btn {
  width: 220px;
  height: 66px;
  color: #FFFFFF;
  font-size: 19px;
  background: none;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  letter-spacing: 0.38px;
  font-family: Cardo-normal;
  border: 2px solid #FFCA42;
}
.website > .website__book-copy > .book-copy__main-section > img {
  margin: 70px 0px 70px 0px;
}
.website > .website__learn {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 120px 70px 140px;
  justify-content: space-evenly;
}
.website > .website__learn > .learn__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__learn > .learn__header > .header__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  line-height: 5;
  font-style: normal;
  text-align: center;
  font-family: Cardo-normal;
  margin: 0px 0px -25px 0px;
  text-transform: capitalize;
}
.website > .website__learn > .learn__header > .header__line {
  width: 50px;
  height: 3px;
  background: #FFCA42;
  margin: 0px 0px 91px 0px;
}
.website > .website__learn > .learn__main-section {
  height: 652px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__learn > .learn__main-section > .main-section__right {
  width: 666px;
  margin: 0 80px 0 0;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card {
  width: 303px;
  height: 272px;
  display: flex;
  background: #F4F8FF;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 44px 61px 30px;
  justify-content: space-evenly;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card > .card__number {
  width: 50px;
  height: 50px;
  color: #1B3764;
  font-size: 23px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  background: #ffca42;
  border-radius: 100px;
  font-family: Cardo-normal;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card > .card__desc {
  width: 260px;
  color: #1B3764;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 34px;
  font-style: normal;
  font-family: Cardo-normal;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card:nth-child(2) > .card__number {
  margin-top: 30px;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card:nth-child(2) > .card__desc {
  width: 236px;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card:nth-child(3) > .card__number {
  margin-top: 30px;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card:nth-child(3) > .card__desc {
  width: 216px;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card:nth-child(4) > .card__number {
  margin-top: 30px;
}
.website > .website__learn > .learn__main-section > .main-section__right > .right__cards > .cards__card:nth-child(4) > .card__desc {
  width: 223px;
}
.website > .website__learn > .learn__main-section > .main-section__left {
  width: 500px;
  height: 600px;
  position: relative;
  box-sizing: border-box;
  border: 10px solid #FFCA42;
}
.website > .website__learn > .learn__main-section > .main-section__left > .left__img {
  top: -60px;
  left: -60px;
  width: 535px;
  height: 632px;
  position: absolute;
}
.website > .website__enhance {
  background: #F4F8FF;
}
.website > .website__enhance > .enhance__header {
  height: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 120px 70px 60px;
  justify-content: space-between;
}
.website > .website__enhance > .enhance__header > .header__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  font-style: normal;
  text-align: center;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__enhance > .enhance__header > .header__line {
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.website > .website__enhance > .enhance__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__enhance > .enhance__body > .body__main-section {
  width: 1350px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 100px;
  flex-direction: row;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card {
  width: 635px;
  height: 242px;
  display: flex;
  padding: 47px;
  background: #fff;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0px 0px 40px 30px;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__title {
  color: #1B3764;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: Cardo-normal;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__desc {
  color: #969AA0;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
  margin: 21px 0px 10px;
  font-family: Inter-normal;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__pages {
  width: 233px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__pages > .pages__name {
  display: flex;
  color: #1B3764;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  flex-direction: row;
  align-items: center;
  font-family: Cardo-normal;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__pages > .pages__name > .name__circle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 100%;
  background: #ffca42;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__pages > .pages__desc {
  color: #969AA0;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  margin-left: 15px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__length {
  width: 250px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__length > .length__name {
  display: flex;
  color: #1B3764;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  flex-direction: row;
  align-items: center;
  font-family: Cardo-normal;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__length > .length__name > .name__circle {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 100%;
  background: #ffca42;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card > .card__footer > .footer__length > .length__desc {
  color: #969AA0;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card:nth-child(2) > .card__desc {
  width: 510px;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card:nth-child(3) > .card__desc {
  width: 510px;
}
.website > .website__enhance > .enhance__body > .body__main-section > .main-section__card:nth-child(4) > .card__desc {
  width: 539px;
}
.website > .website__enhance > .enhance__body > .body__section {
  height: 227px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 0px 130px;
}
.website > .website__enhance > .enhance__body > .body__section > .section__btn {
  width: 429px;
  height: 76px;
  color: #1B3764;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: center;
  background: #FFCA42;
  margin: 60px 0px 35px;
  letter-spacing: 0.57px;
  box-sizing: border-box;
  font-family: Cardo-normal;
  border: 2px solid #FFCA42;
  text-transform: capitalize;
}
.website > .website__enhance > .enhance__body > .body__section > .section__text {
  display: flex;
  color: #969AA0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  font-style: normal;
  align-items: center;
  flex-direction: column;
  font-family: Inter-normal;
  justify-content: space-evenly;
}
.website > .website__enhance > .enhance__body > .body__section > .section__text > .text__desc > .two {
  font-size: 19px;
}
.website > .website__enhance > .enhance__body > .body__section > .section__text > .text__desc > .desc__link {
  color: #1B3764;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.19px;
  font-family: Inter-normal;
}
.website > .website__opinion {
  display: flex;
  margin: 130px 70px;
  flex-direction: row;
  align-items: center;
}
.website > .website__opinion > .opinion__main-section {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall {
  width: 440px;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__text > .text__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  text-align: left;
  line-height: 50px;
  font-style: normal;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__text > .text__line {
  width: 50px;
  height: 3px;
  background: #FFCA42;
  margin: 23px 0px 33px;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__text > .text__desc {
  color: #969AA0;
  font-size: 19px;
  font-weight: 400;
  line-height: 34px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__rating > .rating__rate {
  display: flex;
  color: #1B3764;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  flex-direction: row;
  font-family: Cardo-normal;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__rating > .rating__rate > .rate__circle {
  display: flex;
  flex-direction: row;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__rating > .rating__rate > .rate__circle > .circle__circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ffca42;
  margin: 0px 5px 0px 0px;
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__rating > .rating__rate > .rate__circle > .circle__circle-half {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0px 5px 0px 0px;
  border: 1px solid #ffca42;
  background: linear-gradient(to left, #FFFFFF 50%, #ffca42 50%);
}
.website > .website__opinion > .opinion__main-section > .main-section__overall > .overall__rating > .rating__desc {
  color: #1B3764;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__opinion > .opinion__main-section > .main-section__people {
  height: 634px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card {
  width: 381px;
  height: 292px;
  display: flex;
  background: #1B3764;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0 0 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.11);
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__profile > .profile__text {
  display: flex;
  flex-direction: column;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__profile > .profile__text > .text__name {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: Cardo-normal;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__profile > .profile__text > .text__circle {
  display: flex;
  flex-direction: row;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__profile > .profile__text > .text__circle > .circle__circle {
  width: 12.67px;
  height: 12.67px;
  border-radius: 100%;
  background: #ffca42;
  margin: 15px 0px 0px 5px;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__profile > .profile__text > .text__circle > .circle__circle-halfe {
  width: 12.67px;
  height: 12.67px;
  border-radius: 100%;
  box-sizing: border-box;
  margin: 15px 0px 0px 5px;
  border: 1px solid #ffca42;
  background: linear-gradient(to left, transparent 50%, #ffca42 50%);
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__desc {
  display: flex;
  margin: 0 35px 0 50px;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__desc > .desc__title {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  font-style: normal;
  font-family: Cardo-normal;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card > .card__desc > .desc__desc {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card:nth-child(2) > .card__profile > .profile__text > .text__circle > .circle__circle-halfe {
  width: 12.67px;
  height: 12.67px;
  border-radius: 100%;
  box-sizing: border-box;
  margin: 15px 0px 0px 5px;
  border: 1px solid #ffca42;
  background: linear-gradient(to left, transparent 50%, transparent 50%);
}
.website > .website__opinion > .opinion__main-section > .main-section__people > .people__card:nth-child(3) {
  margin-top: 150px;
}
.website > .website__articles-resources {
  display: flex;
  align-items: center;
  background: #F4F8FF;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__articles-resources > .articles-resources__main-section {
  height: 826px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__header {
  height: 85px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__header > .header__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  font-style: normal;
  text-align: center;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__header > .header__line {
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card {
  width: 420px;
  height: 640px;
  display: flex;
  background: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card > .card__body {
  height: 272px;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-evenly;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card > .card__body > .body__title {
  width: 318px;
  color: #1B3764;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  font-style: normal;
  letter-spacing: 0.24px;
  font-family: Cardo-normal;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card > .card__body > .body__desc {
  color: #969AA0;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card > .card__footer {
  width: 360px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: space-between;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card > .card__footer > .footer__link {
  width: 95px;
  height: 25px;
  border-bottom: 2px solid #1B3764;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card > .card__footer > .footer__link > a {
  color: #1B3764;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.38px;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__articles-resources > .articles-resources__main-section > .main-section__body > .body__card > .card__footer > .footer__date {
  color: #1B3764;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  font-family: Inter-normal;
}
.website > .website__subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.website > .website__subscribe > .subscribe__main-section {
  width: 1300px;
  height: 489px;
  display: flex;
  margin: 120px 70px;
  align-items: center;
  background: #ffca42;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__texts {
  height: 164px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__texts > .texts__title {
  color: #1B3764;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  font-style: normal;
  text-align: center;
  font-family: Cardo-normal;
  text-transform: capitalize;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__texts > .texts__line {
  width: 50px;
  height: 3px;
  background: #1B3764;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__texts > .texts__desc {
  width: 550px;
  color: #1B3764;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: center;
  font-family: Inter-normal;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__form > form > input {
  width: 656px;
  height: 70px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  padding: 20px 40px;
  background: #FFFFFF;
  box-sizing: border-box;
  letter-spacing: 0.18px;
  font-family: Inter-normal;
  border: 1px solid #DCE1E9;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__form > form > input::-moz-placeholder {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  letter-spacing: 0.18px;
  font-family: Inter-normal;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__form > form > input:-ms-input-placeholder {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  letter-spacing: 0.18px;
  font-family: Inter-normal;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__form > form > input::placeholder {
  color: #B4C7E7;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  letter-spacing: 0.18px;
  font-family: Inter-normal;
}
.website > .website__subscribe > .subscribe__main-section > .main-section__form > form > .subscribe__btn {
  width: 328px;
  height: 68px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  line-height: 31px;
  font-style: normal;
  text-align: center;
  margin: 0 0 0 16px;
  background: #1B3764;
  letter-spacing: 0.18px;
  font-family: Inter-normal;
  border: 2px solid #1B3764;
}
.website > .website__footer {
  height: 486px;
  display: flex;
  align-items: center;
  background: #1B3764;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__footer > .footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.website > .website__footer > .footer__menu > .menu__socials {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.website > .website__footer > .footer__menu > .menu__explore {
  width: 199px;
  height: 258px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}/*# sourceMappingURL=style.css.map */